node_modules/
.DS_Store
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App/Pods/
b/
.idea/
*.log
*.apk
*.aab
*.so
*.zip
*.jar
*.exe
*.bin
*.mp4

rota_admin_app/
rota-admin/
ABB/
gradle-8.14/
rotaplus_web/
website/

**/.dart_tool/
**/build/
**/*.log
**/*.apk
**/*.aab
**/*.mp4
**/*.so
**/*.jar
